# Copyright 2018 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

presubmits:
  knative/serving:
    - repo-settings:
      performance: true
      legacy-branches:
      - release-0.7
      go112-branches:
      - release-0.7
      - release-0.8
      - release-0.9
    - build-tests: true
      resources:
        requests:
          memory: 12Gi # Real request for this pod is 16 as sidecar requests 4
        limits:
          memory: 16Gi
    - unit-tests: true
    - integration-tests: true
      args:
      - "--run-test"
      - "./test/e2e-tests.sh --istio-version 1.4-latest --no-mesh"
    - custom-test: upgrade-tests
      args:
      - "--run-test"
      - "./test/e2e-upgrade-tests.sh --istio-version 1.4-latest --no-mesh"
    - custom-test: smoke-tests
      args:
      - "--run-test"
      - "./test/e2e-smoke-tests.sh"
    - go-coverage: true
      go-coverage-threshold: 80
    - custom-test: istio-1.3-mesh
      always_run: false
      optional: true
      args:
      - "--run-test"
      - "./test/e2e-tests.sh --istio-version 1.3-latest --mesh"
    - custom-test: istio-1.3-no-mesh
      always_run: false
      optional: true
      args:
      - "--run-test"
      - "./test/e2e-tests.sh --istio-version 1.4-latest --no-mesh"
    - custom-test: istio-1.4-mesh
      always_run: false
      optional: true
      args:
      - "--run-test"
      - "./test/e2e-tests.sh --istio-version 1.4-latest --mesh"
    - custom-test: istio-1.4-no-mesh
      always_run: false
      optional: true
      args:
      - "--run-test"
      - "./test/e2e-tests.sh --istio-version 1.4-latest --no-mesh"
    - custom-test: gloo-0.17.1
      always_run: false
      optional: true
      args:
      - "--run-test"
      - "./test/e2e-tests.sh --gloo-version 0.17.1"
    - custom-test: https
      always_run: false
      optional: true
      args:
      - "--run-test"
      - "./test/e2e-tests.sh --https"

  knative/client:
    - build-tests: true
      dot-dev: true
    - unit-tests: true
      dot-dev: true
    - integration-tests: true
      dot-dev: true
    - go-coverage: true
      dot-dev: true
    - custom-test: integration-tests-latest-release
      always_run: true
      command:
        - "./test/presubmit-integration-tests-latest-release.sh"
      dot-dev: true

  knative/eventing:
    - repo-settings:
      performance: true
      legacy-branches:
      - release-0.7
      - release-0.8
    - build-tests: true
      resources:
        requests:
          memory: 12Gi # Real request for this pod is 16 as sidecar requests 4
        limits:
          memory: 16Gi
    - unit-tests: true
    - integration-tests: true
    - go-coverage: true

  knative/eventing-contrib:
    - repo-settings:
      legacy-branches:
      - release-0.7
      - release-0.8
    - build-tests: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - unit-tests: true
    - integration-tests: true
    - go-coverage: true

  knative/docs:
    - build-tests: true
    - unit-tests: true
    - integration-tests: true
      needs-dind: true
    - go-coverage: true
    - custom-test: markdown-link-check
      always_run: true
      optional: true
      command:
        - "./test/presubmit-link-check.sh"

  knative/pkg:
    - build-tests: true
      dot-dev: true
    - unit-tests: true
      dot-dev: true
    - integration-tests: true
      dot-dev: true
    - go-coverage: true
      dot-dev: true

  knative/test-infra:
    - build-tests: true
      dot-dev: true
    - unit-tests: true
      dot-dev: true
    - integration-tests: true
      dot-dev: true

  knative/caching:
    - build-tests: true
      dot-dev: true
    - unit-tests: true
      dot-dev: true
    - integration-tests: true
      dot-dev: true
    - go-coverage: true
      dot-dev: true

  knative/observability:
    - build-tests: true
    - unit-tests: true
    - integration-tests: true

  knative/sample-controller:
    - build-tests: true
      dot-dev: true
    - unit-tests: true
      dot-dev: true

  google/knative-gcp:
    - repo-settings:
      performance: true
    - build-tests: true
    - unit-tests: true
    - integration-tests: true
    - go-coverage: true

  knative/serving-operator:
    - repo-settings:
      go112-branches:
      - release-0.9
    - build-tests: true
      dot-dev: true
    - unit-tests: true
      dot-dev: true
    - integration-tests: true
      dot-dev: true
    - go-coverage: true
      dot-dev: true
    - custom-test: integration-tests-on-latest-serving
      always_run: false
      optional: true
      args:
        - "--run-test"
        - "./test/e2e-tests-latest-serving.sh"
      dot-dev: true

  knative/eventing-operator:
    - build-tests: true
      dot-dev: true
    - unit-tests: true
      dot-dev: true
    - integration-tests: true
      dot-dev: true
    - go-coverage: true
      dot-dev: true
    - custom-test: integration-tests-on-latest-eventing
      always_run: false
      optional: true
      args:
        - "--run-test"
        - "./test/e2e-tests-latest-eventing.sh"
      dot-dev: true

  knative/website:
    # This repo only uses Tide
    - build-tests: false
    - unit-tests: false
    - integration-tests: false
    - go-coverage: false

  knative/community:
    # This repo only uses Tide
    - build-tests: false
    - unit-tests: false
    - integration-tests: false
    - go-coverage: false

periodics:
  knative/serving:
    - continuous: true
      timeout: 100
      dot-dev: true
      go113: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - branch-ci: true
      release: "0.7"
    - branch-ci: true
      release: "0.8"
      dot-dev: true
    - branch-ci: true
      release: "0.9"
      dot-dev: true
    - branch-ci: true
      release: "0.10"
      dot-dev: true
      go113: true
    - custom-job: istio-1.3-mesh
      full-command: "./test/e2e-tests.sh --istio-version 1.3-latest --mesh"
      dot-dev: true
      go113: true
    - custom-job: istio-1.3-no-mesh
      full-command: "./test/e2e-tests.sh --istio-version 1.3-latest --no-mesh"
      dot-dev: true
      go113: true
    - custom-job: istio-1.4-mesh
      full-command: "./test/e2e-tests.sh --istio-version 1.4-latest --mesh"
      dot-dev: true
      go113: true
    - custom-job: istio-1.4-no-mesh
      full-command: "./test/e2e-tests.sh --istio-version 1.4-latest --no-mesh"
      dot-dev: true
      go113: true
    - custom-job: gloo-0.17.1
      full-command: "./test/e2e-tests.sh --gloo-version 0.17.1"
      dot-dev: true
      go113: true
    - nightly: true
      dot-dev: true
      go113: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - dot-release: true
      dot-dev: true
      go113: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - auto-release: true
      dot-dev: true
      go113: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - webhook-apicoverage: true
      dot-dev: true
      go113: true

  knative/client:
    - continuous: true
      dot-dev: true
    - nightly: true
      dot-dev: true
    - dot-release: true
      dot-dev: true
    - auto-release: true
      dot-dev: true

  knative/docs:
    - continuous: true
      needs-dind: true

  knative/eventing:
    - continuous: true
      timeout: 90
      dot-dev: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - branch-ci: true
      release: "0.7"
    - branch-ci: true
      release: "0.8"
    - branch-ci: true
      release: "0.9"
      dot-dev: true
    - branch-ci: true
      release: "0.10"
      dot-dev: true
    - nightly: true
      dot-dev: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - dot-release: true
      dot-dev: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - auto-release: true
      dot-dev: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi

  knative/eventing-contrib:
    - continuous: true
      dot-dev: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - branch-ci: true
      release: "0.7"
    - branch-ci: true
      release: "0.8"
    - branch-ci: true
      release: "0.9"
      dot-dev: true
    - branch-ci: true
      release: "0.10"
      dot-dev: true
    - nightly: true
      dot-dev: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - dot-release: true
      dot-dev: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi
    - auto-release: true
      dot-dev: true
      resources:
        requests:
          memory: 12Gi
        limits:
          memory: 16Gi

  knative/pkg:
    - continuous: true
      dot-dev: true

  knative/caching:
    - continuous: true
      dot-dev: true

  knative/observability:
    - continuous: true

  knative/sample-controller:
    - continuous: true
      dot-dev: true

  knative/test-infra:
    - continuous: true
      dot-dev: true

  knative/serving-operator:
    - continuous: true
      dot-dev: true
      go113: true
    - nightly: true
      dot-dev: true
      go113: true
    - dot-release: true
      # TODO(chaodaiG): dot-release will need to use go1.13 after branch
      # release-0.10 is cut
      dot-dev: true
    - auto-release: true
      dot-dev: true
      go113: true
    - custom-job: integration-tests-on-latest-serving
      command: "./test/e2e-tests-latest-serving.sh"
      dot-dev: true
      go113: true

  knative/eventing-operator:
    - continuous: true
      dot-dev: true
    - nightly: true
      dot-dev: true
    - dot-release: true
      dot-dev: true
    - auto-release: true
      dot-dev: true
    - custom-job: integration-tests-on-latest-eventing
      command: "./test/e2e-tests-latest-eventing.sh"
      dot-dev: true

  google/knative-gcp:
    - continuous: true
    - nightly: true
    - dot-release: true
      env-vars:
      - ORG_NAME=google
    - auto-release: true
      env-vars:
      - ORG_NAME=google
